@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Poiret+One&display=swap');

:root {
    --color1: #397552;
    --color3: #75491d;
    --color4: #010506;
    --color5: #2D646F;
}